<div class="usa-alert usa-alert--info usa-alert--no-icon bg-info-lighter border-left-1 border-info">
  <div class="usa-alert__body padding-y-0 padding-x-1">
    <table class="border-0 bg-transparent width-full" style="border-collapse:collapse">
      <tr class="border-0 bg-transparent">
        <td class="border-0 bg-transparent text-top width-3 padding-top-1 padding-bottom-0 padding-x-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM13 17H11V11H13V17ZM13 9H11V7H13V9Z" fill="#1B1B1B"/>
          </svg>
        </td>
        <td class="border-0 bg-transparent text-top">
          <%= yield %>
        </td>
      </tr>
    </table>
  </div>
</div>
